<div class="container">
  <div class="row" style="margin-top:30px; margin-bottom: 40px;">
    <div class="col-md-3">
      <div class="btn btn-primary" style="margin-bottom: 20px;" (click)="read()">Read</div>
      <div class="btn btn-primary" style="margin-bottom: 20px;" (click)="write()">Write</div>
      <app-side-bar [data]="data" [simple]="simpleDataChange"
                    (add)="addNewRequest($event)"
                    (remove)="removeRequest($event)"
                    (select)="selectNode($event)"
      ></app-side-bar>
    </div>
    <div class="col-md-9" style="margin-top:0px;">
      <div class="row form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2">Name :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name"></div>
          </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Description :</label>
          <div class="col-sm-10">
            <input class="form-control"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <select id="formInput11" class="form-control">
              <option>GET</option>
              <option>POST</option>
              <option>PUT</option>
              <option>DELET</option>
              <option>PATCH</option>
            </select>
          </div>
        </div>
        <div class="col-md-9">
          <input type="text" class="form-control" placeholder="Url"
            ([ngModel])="currentObject['request'] ? currentObject['request'].url : ''">
        </div>
      </div>
      <div class="row">
        <app-data-set [data]="params" name="Params"></app-data-set>
      </div>
      <div class="row">
        <app-data-set [data]="
            currentObject['request'] ? currentObject['request'].header : []
          " name="Header"></app-data-set>
      </div>
      <div class="row">
        <app-data-set [data]="
             currentObject['request'] ? currentObject['request'].body.urlencoded : []
          " name="Body"></app-data-set>
      </div>
      <div class="row">
        <app-code name="Pre-request Script" [code]="currentPreCode"></app-code>
      </div>
      <div class="row">
        <app-code name="test Script" [code]="currentTestCode"></app-code>
      </div>
    </div>
  </div>
</div>
<button (click)="setStrData()">print</button>
<pre>
  {{strData}}
</pre>

<!--<ace-editor-->
  <!--#editor-->
  <!--[(text)]="data"-->
  <!--mode="javascript"-->
  <!--style="height:150px;"-->
<!--&gt;</ace-editor>-->

